<h3>Player Registration Form</h3>

<hr />

<form>
  <div class="form-group">
    <label>Name</label>
    <input type="text" class="form-control" name="name" />
  </div>
  <div class="form-group">
    <label>Debut</label>
    <input type="text" class="form-control" name="debut" />
  </div>
  <div class="form-group">
    <label>Genre</label>
    <select name="genre" class="form-control">
      <option>--- Please Select ---</option>
      <option value="cricket">Cricket</option>
      <option value="football">Football</option>
      <option value="chess">Chess</option>
      <option value="swimming">Swimming</option>
    </select>
  </div>
  <div class="form-group form-check">
    <input type="checkbox" class="form-check-input" name="isActive" />
    <label class="form-check-label">Active?</label>
  </div>
  <div class="form-group">
    <label>Short Bio</label>
    <textarea
      name="shortBio"
      cols="60"
      rows="5"
      class="form-control"
    ></textarea>
  </div>

  <button class="btn btn-primary">Submit</button>
</form>
